// PALETTE

background-white = #ffffff
text-on-white = rgba(0, 0, 0, 0.8)
header-on-black = rgba(0, 0, 0, 0.72)
hovers-on-white = rgba(0, 0, 0, 0.64)
focus-on-white = rgba(0, 0, 0, 0.08)
footers-on-white = rgba(0, 0, 0, 0.04)

bacgkround-black = #000000
text-on-black = rgba(255, 255, 255, 0.8)
header-on-white = rgba(255, 255, 255, 0.72)
hovers-on-black = rgba(255, 255, 255, 0.64)
focus-on-black = rgba(255, 255, 255, 0.08)
footers-on-black = rgba(255, 255, 255, 0.04)
commercial-title = rgba(232, 137, 19, 0.8)
personal-title = rgb(208, 26, 33, 0.8)

base-shadow = 4px 4px 20px 0 footers-on-white

list-reset()
  list-style none
  padding 0
  margin 0

xs = 480px
sm = 640px
md = 768px
lg = 1024px
xl = 1280px
full-hd = 1920

header-height = 90px
max-container-width = 1490px
